# Backend settings
HF_MODEL_NAME=dima806/deepfake_vs_real_image_detection
MIDNIGHT_NODE_URL=http://127.0.0.1:9944
MIDNIGHT_INDEXER_URL=http://127.0.0.1:8088/api/v4/graphql
MIDNIGHT_PROOF_SERVER_URL=http://127.0.0.1:6300
MIDNIGHT_NETWORK_ID=undeployed
CORS_ORIGINS=http://localhost:3000

# Frontend settings
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MIDNIGHT_NETWORK=undeployed
NEXT_PUBLIC_INDEXER_URL=http://127.0.0.1:8088/api/v4/graphql
NEXT_PUBLIC_INDEXER_WS=ws://127.0.0.1:8088/api/v4/graphql/ws
NEXT_PUBLIC_NODE_URL=http://127.0.0.1:9944
NEXT_PUBLIC_PROOF_SERVER_URL=http://127.0.0.1:6300
